@import "variables";

html {
  font-size: 62.5%;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  font-size: $text-size-m;
  line-height: $text-size-m * 1.4;
  font-family: $fonts-primary;
}

a {
  text-decoration: none;
  color: $color-primary;

  :hover {
    color: $color-primary-light;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fonts-secondary;
  font-weight: 400;
}

h1,
h2 {
  font-size: $text-size-xl;
  // line-height: 3.5rem;
  line-height: $text-size-xl * 1.3;
  margin: $spacing-xl * 2 0 $spacing-xl 0;
}

h3 {
  margin: $spacing-l 0;
}

p {
  margin: $spacing-m 0;
}
