@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper {
  position: sticky;
  top: 0;
  background-color: $color-light;
  width: 100%;
  border-bottom: 1px solid $color-primary-light;
  z-index: 10;

  > div:first-child {
    max-width: $page-width;
    margin: 0 auto;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
  }
}

.logo {
  height: 4rem;
}

.hamburger {
  height: 3rem;
  background-color: transparent;
  border: none;
  margin-bottom: $spacing-xs;

  @include sm {
    display: none;
  }

  img {
    height: 100%;
    width: auto;
  }
}

.navbar {
  display: none;

  @include sm {
    display: block;
  }
}
